-#  This file is app/views/movies/index.html.haml
%h1 All Movies

= form_tag movies_path, :method => :get, :id => 'ratings_form' do
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", "1", @checked[rating], :id => "ratings_#{rating}"
  = submit_tag 'Refresh', :id => 'ratings_submit' 

%table#movies
  %thead
    %tr
      %th{:class => @colorClass1}= link_to 'Movie Title', movies_path(@movie, :sortWhat => "title"), :id => "title_header"
      %th Rating
      %th{:class => @colorClass2}= link_to 'Release Date', movies_path(@movie, :sortWhat => "release_date"), :id => "release_date_header"
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
